
/* Header styles to stick it to top
    and other stylings*/
#stickme {
    position: sticky;
    top: 0;
    z-index: 2;
    text-align: center;
    border-bottom: dotted 1px black;
    margin-top: 20px;
    background-color: #ba8be4;
    font-weight: 200;
}

/* styles for the time display */
#stickme p{
    padding-top:  20px;
    letter-spacing: 1px;
    font-size: 1.5em;
}

/* error to display if the user 
    inputs a blank task*/
#modal-error {
    font: size 0.25em;
    color: red;
    display: none;
}

