
#stickme {
    position: sticky;
    top: 0;
    z-index: 2;
    text-align: center;
    border-bottom: dotted 1px black;
    margin-top: 20px;
    background-color: #ba8be4;
    font-weight: 200;
    
}


#stickme p{
    padding-top:  20px;
    letter-spacing: 1px;
    font-size: 1.5em;
}

#time {
    font-size: 1.5em;
}

#task {
    margin-left: 15px;
    margin-right: 15px;
}

#modal-error {
    font: size 0.25em;
    color: red;
    display: none;
}

.done-btn,
.del-btn {
    display: none;
}


/*
@media screen and (max-width: 400px) {

    #stickme {
        width: 398.4px;
    }
}
